@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
	--Desaturated-Red: hsl(0, 36%, 70%);
	--Soft-Red: hsl(0, 93%, 68%);
	--Dark-Grayish-Red: hsl(0, 6%, 24%);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	color: var(--Desaturated-Red);
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	min-height: 100vh;
}

.container {
	max-width: 350px;
	margin: 0 auto;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	align-self: start;
	margin: 25px 0;
	width: 100px;
}

.hero-mobile {
	width: 100vw;
	position: relative;
	height: 275px;
}

h1 {
	text-transform: uppercase;
	color: var(--Dark-Grayish-Red);
	font-weight: 600;
	text-align: center;
	margin: 40px 0 20px;
	letter-spacing: 10px;
	font-size: 35px;
}

h1 span {
	font-weight: 200;
	color: var(--Desaturated-Red);
}

p {
	text-align: center;
	line-height: 1.5;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

input {
	width: 100%;
	border-radius: 60px;
	padding: 15px 15px 15px 25px;
	border: 1px solid var(--Desaturated-Red);
	background: hsl(0, 100%, 98%);
}

input::placeholder {
	color: var(--Desaturated-Red);
}

input:focus {
	outline: none;
	border: 2px solid var(--Soft-Red);
}

button {
	position: absolute;
	top: 0;
	left: 83%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	width: 65px;
	border: 0;
	height: 50px;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	cursor: pointer;
}

button:hover {
	box-shadow: -3px 10px 24px -2px rgba(238, 140, 140, 1);
	background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	width: 75px;
}

.error {
	position: absolute;
	left: 75%;
	top: 20%;
	height: 20px;
}

small {
	margin-top: 10px;
	text-align: left;
	width: 100%;
	padding-left: 25px;
}

.d-none {
	display: none;
}

.d-block {
	display: block !important;
}

@media (min-width: 600px) {
	body {
		background-image: url(/images/bg-pattern-desktop.svg);
		background-size: cover;
		background-position: center center;
	}

	.container {
		min-height: 100vh;
		display: flex;
		max-width: 100vw;
		margin: 0;
		text-align: left !important;
	}

	.hero-mobile {
		display: none;
	}

	.left {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		margin-left: 10%;
	}

	.right {
		width: 40%;
		min-height: 100vh;
		background-image: url(/images/hero-desktop.jpg);
		background-size: cover;
		background-position: center center;
	}

	.logo {
		margin-top: 60px;
		width: 150px;
	}

	h1 {
		text-align: left;
		font-size: 55px;
		margin-top: 100px;
		margin-bottom: 20px;
	}

	p {
		text-align: left;
		max-width: 500px;
		margin-bottom: 30px;
	}

	form {
		max-width: 500px;
		align-items: flex-start;
	}

	button {
		width: 85px;
	}
	button:hover {
		width: 85px;
	}
}
